@using MyPerfume.Common
@using MyPerfume.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Manage Perfume Components
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Designers" asp-action="All">
                Designers
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Countries" asp-action="All">
                Countries
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Colors" asp-action="All">
                Colors
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="AromaticGroups" asp-action="All">
                Aromatic Groups
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="BaseNotes" asp-action="All">
                Base Notes
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="HeartNotes" asp-action="All">
                Heart Notes
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="TopNotes" asp-action="All">
                Top Notes
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Perfumers" asp-action="All">
                Perfumers
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Categories" asp-action="All">
                Categories
            </a>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="PictureUrls" asp-action="All">
                Picture Urls
            </a>
        </div>
    </li>
}