@model ErrorViewModel
@{
    this.ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Грешка възникна докато изпълнявахме вашата заявка.</h2>

<form>
    <h2>@ViewData["ErrorMessage"]</h2>
</form>

@if (this.Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
</p>
}

<a asp-area="" asp-controller="Home" asp-action="Index">Натисни тук за да се върнеш на началната страница.</a>