@{
    this.ViewData["Title"] = "Exists";
}

<h1>The Item you try to enter already exist!</h1>

<form>

    <div asp-validation-summary="All" class="text-danger"></div>

    <a class="btn btn-primary btn-group-sm text-uppercase" asp-controller="@this.ViewData["ControllerName"]" asp-action="All">
        Back
    </a>

</form>

