@{
    ViewBag.Title = "Не е намерена";
}
@{
    this.ViewData["Title"] = "Не е намерено";
}
<html>
<head>
    <style>
        body {
            background-image: url("/images/NotFound.png");
            background-color: #e9da15;
        }
    </style>
</head>
<body>
    <h1>Ресурса, който се опита да използваш не беше намерен!</h1>
    <form>
        <h2>@ViewData["NotFoundMessage"]</h2>
    </form>
    <hr />
    <br />
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <h2>
            <strong>Натисни тук за да се върнеш на началната страница.</strong>
        </h2>
    </a>
</body>
</html>

