@{
    ViewBag.Title = "Не е намерена";
}
@{
    this.ViewData["Title"] = "Не е намерено";
}
<html>
<head>
    <style>
        body {
            background-image: url(~/images/NotFound.png)
        }
    </style>
</head>
<body>
    <h1>Ресурса, който се опита да използваш не беше намерен!</h1>
    <form>
        <h2>@ViewData["NotFoundMessage"]</h2>
    </form>
    <a asp-area="" asp-controller="Home" asp-action="Index">Натисни тук за да се върнеш на началната страница.</a>
</body>
</html>

