@using MyPerfume.Web.ViewModels.Designers.ViewModels
@model IEnumerable<DesignerViewModel>
@{
    this.ViewData["Title"] = "All Designers";
}

<h1>This is all designers!</h1>

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">All Trips</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Designer One</th>
                        <th scope="col">Designer Two</th>
                        <th scope="col">Designer Three</th>
                        <th scope="col">Designer Four</th>
                        <th scope="col">Designer Five</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var designer in @Model)
                    {
                        <tr>
                            <th scope="row">@designer.Name</th>
                            <td>@designer.Name</td>
                            <td>@designer.CreatedOn</td>
                            <td>@designer.CreatedOn</td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Designers/Add" class="btn btn-info text-uppercase">Add designer!</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

