@using MyPerfume.Web.ViewModels.InputModels
@model BaseInputModel
@{ 
    this.ViewData["Title"] = "Edit Designer";
}

<h1>Edit the name of @this.ViewData["ClassName"], please!</h1>

<form method="post" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <hr />

    <button type="submit" class="btn btn-primary">Apply</button>
    <a class="btn btn-primary" asp-action="All">Back</a>
</form>

