@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Акаунта е потвърден!</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a asp-area="" asp-action="Index" class="btn btn-primary">Влез</a>