@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>Вие успешно излезнахте от любимият ни сайт. Заповядайте отново. Очакваме ви с нашите нови изненади за вас!</h1>
</header>