@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Потвърждение на регистрацията:</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <h2>
        <strong>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Кликнете върху този линк, за да си повърдите регистрацията!</a>
        </strong>
    </h2>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
