@model EditUserViewModel
@{
    ViewData["Title"] = "DeleteUser";
}

<h1>Are you sure to want to delete this user?</h1>

<form method="post" class="mt-lg-5">
    <a class="btn btn-primary" asp-action="AllUsers">Back</a>
    <button type="submit" class="btn btn-danger">Submit</button>
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UserName" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NormalizedUserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="NormalizedUserName" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CreatedOn" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CreatedOn" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ModifiedOn" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ModifiedOn" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="IsDeleted" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="IsDeleted" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="DeletedOn" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="DeletedOn" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NormalizedEmail" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="NormalizedEmail" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="EmailConfirmed" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="EmailConfirmed" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PhoneNumber" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PhoneNumberConfirmed" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PhoneNumberConfirmed" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PasswordHash" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PasswordHash" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SecurityStamp" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SecurityStamp" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ConcurrencyStamp" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ConcurrencyStamp" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="TwoFactorEnabled" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="TwoFactorEnabled" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="LockoutEnabled" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LockoutEnabled" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="AccessFailedCount" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="AccessFailedCount" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="LockoutEnd" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LockoutEnd" disabled class="form-control" />
        </div>
    </div>
</form>



